@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}

html {
    min-height: 100%;
    background-image: url("../imgs/img.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
 }

body {
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-shadow: 0 0 5px #ffffff;
}


main {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 2px solid #41e8f4;
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    max-width: 800px;
    margin: 40px auto;
    box-shadow: 0 0 20px #41e8f4, 0 0 40px #f8d210;
    overflow-x: auto; 
}

h1 {
    color: #f8d210; 
    text-shadow: 0 0 10px #f8d210, 0 0 20px #e841ff;
    text-align: center;
    margin-bottom: 20px;
}


.add-form {
    display: flex;
    margin-bottom: 30px;
    gap: 15px;
    width: 100%;
}

input {
    width: 100%;
    flex: 1;
    padding: 15px;
    background: #25274d;
    border: 2px solid #41e8f4;
    border-radius: 5px;
    color: #ffffff;
    font-size: 1rem;
    outline: none;
    text-shadow: 0 0 3px #ffffff;
}

button[type="submit"] {
    background: linear-gradient(45deg, #ff007f, #ff41b4);
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 5px;
    color: #ffffff;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-shadow: 0 0 5px #ffffff;
    box-shadow: 0 0 10px #ff007f, 0 0 20px #ff41b4;
    transition: transform 0.3s ease-in-out;
}

button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px #ff007f, 0 0 30px #ff41b4;
}


table {
    border-collapse: collapse;
    width: 100%;
    min-width: 600px; 
    background: rgba(255, 255, 255, 0.05);
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 15px #41e8f4, 0 0 30px #e841ff;
}

td, th {
    padding: 10px 15px;
    border: 1px solid #41e8f4;
    text-align: center;
    text-shadow: 0 0 3px #ffffff;
    font-size: 1rem;
}

th {
    color: #f8d210;
    text-shadow: 0 0 5px #f8d210, 0 0 10px #e841ff;
}

td {
    color: #ffffff;
}

tr:nth-child(even) {
    background-color: rgba(248, 210, 16, 0.2);
}

tr:hover {
    background-color: rgba(248, 210, 16, 0.3);
}

select {
    width: 100%;
    border: 2px solid #41e8f4;
    background: #25274d;
    color: #ffffff;
    padding: 8px;
    border-radius: 5px;
    font-size: 0.7rem; 
    text-transform: uppercase;
    text-shadow: 0 0 3px #ffffff;
    white-space: nowrap; 
    text-overflow: ellipsis; 
}

.btn-action {
    border: none;
    border-radius: 5px;
    padding: 5px;
    color: #ffffff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1rem;
}

.btn-action:nth-child(1) {
    background: linear-gradient(45deg, #ffdd00, #ffa500);
    box-shadow: 0 0 10px #ffdd00, 0 0 20px #ffa500;
    margin-right: 5px;
}

.btn-action:nth-child(2) {
    background: linear-gradient(45deg, #ff0000, #ff6347);
    box-shadow: 0 0 10px #ff0000, 0 0 20px #ff6347;
}

/* Responsividade */
@media (max-width: 375px) {
    body {
        font-size: 0.8rem;
    }

    main {
        width: 90%;
    }

    table {
        font-size: 0.7rem; 
        width: 75%;
    }

    input {
        font-size: 0.9rem;
    }

    button {
        font-size: 1.2rem;
    }

    td, th {
        font-size: 0.8rem;
    }
}
